.pin {
 display: inline-block;
 margin: 2px;
 background-color: #e1e1e1;
}

div.pinInfo h3 {
  margin-top: 0.2em;
  height: 2em;
}

.pin-tiny {
  width: 6rem;
}

.pin-sm {
  width: 8rem;
}

.pin-normal {
  width: 12rem;
}

.pin-large {
  width: 14rem;
}

.pin-tiny img.pinImage {
  max-height: 70px;
  max-width: 70px;
}

.pin-sm img.pinImage {
  max-height: 100px;
  max-width: 100px;
}

.pin-normal img.pinImage {
  max-height: 140px;
  max-width: 140px;
}

 .pin-large img.pinImage {
  max-height: 240px;
  max-width: 240px;
}

div.filterQrCode { 
  display: inline-block;
  margin: 16pt;
}

div.searchFields {
  align-items: center;
  display: inline-block
}

div.listButtons button {
  margin: 4px;
  border-radius: 100%;
  border: 3px solid #000;
  color: #000;
}

div.listButtons button.addButton, div.listButtons button.availableButton {
  background-color: rgb(90, 180, 90);
}

.pin-tiny div.listButtons button {
  font-size: 16pt;
  width: 32px;
  height: 32px;
}

.pin-sm div.listButtons button {
  font-size: 24pt;
  width: 48px;
  height: 48px;
}

.pin-normal div.listButtons button {
  font-size: 36pt;
  width: 64px;
  height: 64px;
}

div.listButtons button:disabled, button.pinNotAvailable, button.pinNotWanted {
  color: #927a56;
  border: 1px solid #888;
  opacity: 0.50;
}

div.listButtons button.removeButton, div.listButtons button.wantedButton {
  background-color: rgb(150, 82, 82);
}

.drawerButton {
  min-width: 100;
}

div.drawer {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

div.drawerContent {
  justify-content: center;
  width: 320pt;
  display: block;
}

div.closeButton {
  clear: left;
  display: block;
  margin: 1em;
}

div.selectionFilterItem, div.settingItem {
  display: block;
}

div.filterInfo, div.pinSelectionFilter, div.setSelection, div.settingFields, div.pinSelectionList {
  display: block;
}

div.lanyardName {
  padding: 1ch;
  height: 3ch;
  width: 20ch;
  text-align: center;
  display: block;
  border: 2mm solid #000;
  font-weight: bold;
  font-size: 1.2rem;
}

div.pinListContent {
  margin: 0; 
}
