.pin {
 display: inline-block;
 width: 12rem;
}

.searchFields {
  width: 100%;
  align-items: center;
}

.searchFields label {
  display: inline-flexbox;
  text-align: left;
  font-weight: bolder;
}

.searchFields input[type="text"], .searchFields textarea, .searchFields select {
  display: inline;
  width: 300px;
}

img.pinImage {
  max-height: 120px;
  max-width: 120px;
}

div.filterQrCode { 
  display: inline-block;
  margin: 16pt;
}

div.searchFields {
  display: inline-block
}

div.listButtons button {
  margin: 4px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  border: 3px solid #000;
  color: #000;
}

div.listButtons button.addButton, div.listButtons button.availableButton {
  font-size: 36pt;
  background-color: rgb(90, 180, 90);
}

div.listButtons button:disabled, button.pinNotAvailable, button.pinNotWanted {
  color: #927a56;
  border: 1px solid #888;
  opacity: 0.50;
}

div.listButtons button.removeButton, div.listButtons button.wantedButton {
  font-size: 36pt;
  background-color: rgb(150, 82, 82);
}

.drawerButton {
  min-width: 100;
}

div.qrQuietZone {
  background: 'white';
  padding: 32px;
}

div.drawer {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

div.drawerContent {
  justify-content: center;
  width: 320pt;
  display: flex;
}

svg.selectionQrCode {
  display: block;
  margin: auto;
}

div.qrDescription {
  margin: auto;
  text-align: center;
  margin-bottom: 16pt;
  width: 30ch;
}

div.selectionFilterItem {
  display: block;
}

div.filterInfo, div.pinSelectionFilter, div.setSelection {
  display: block;
}