/* div.setpins {
  display: inline-block;
} */

div.set-tiny div.setpins {
  /* max-width: 7em; */
  display: inline-block;
}

div.setpins .pinRow-1 {
  display: inline-table;
  column-count: 1;
}

div.setpins .pinRow-2 {
  display: inline-table;
  column-count: 2;
  /* height: 4em; */
  /* width: 5.0em; */
}

div.setpins .pinRow-3 {
  display: inline-table;
  column-count: 3;
  /* height: 4em; */
  /* width: 5.0em; */
}

div.pinSet.set-tiny div.pinRow-3.emptyRow {
  min-height: 30px;
}

div.pinSet.set-sm div.pinRow-3.emptyRow {
  min-height: 40px;
}

div.pinSet.set-normal div.pinRow-3.emptyRow {
  min-height: 70px;
}

div.pinSet.set-large div.pinRow-3.emptyRow {
  min-height: 100px;
}

div.pinRow-3.emptyRow {
  min-width: 3em;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0.2em;
}

.set-tiny div.setpins img.pinImage {
  max-height: 30px;
  max-width: 30px;
}

.set-sm div.setpins img.pinImage {
  max-height: 40px;
  max-width: 40px;
}

.set-normal div.setpins img.pinImage {
  max-height: 70px;
  max-width: 70px;
}

.set-large div.setpins img.pinImage {
  max-height: 100px;
  max-width: 100px;
}

div.setpins img.pinImage {
  /* max-height: 70px;
  max-width: 70px; */
  padding: 0.2em;
  /* display: inline-block; */
}

div.pinSet {
  margin-bottom: 0.5em
}

div.pinSet h3 {
  margin-top: 0.2em;
  overflow: hidden;
  font-size: 0.8em;
  max-height: 1rem;
  margin-block-end: 0.2rem;
}

div.pinSet.set-tiny h3 {
  overflow: hidden;
}

.pinSet div.listButtons {
  bottom: 0;
  position: relative;
}

.pinSet {
  margin: 2px;
  background-color: #d0d0d0;
  border: 2px solid;
}

.set-tiny {
  max-width: 8rem;
  min-height: 7.8em;
  max-height: 10em;
}

.set-sm {
  max-width: 10rem;
  min-height: 9em;
  max-height: 12.5em;
  margin-bottom: 8;
  /* scale: 0.8; */
}

.set-normal {
  min-height: 12.6rem;
  max-height: 17.5rem;
  max-width: 16rem;
  /* scale: 1.0; */
}

.set-large {
  min-height: 16.5rem;
  max-height: 21.2rem;
  max-width: 24rem;
  /* scale: 1.25; */
}

div.availableSets div.pinSet, div.wantedSets div.pinSet {
  display: inline-table;
}

div.pinSet div.pax {
  color: var(--pax-text-light);
}

div.pinSet div.pax.paxAus {
  color: var(--pax-text-dark);
}