

div.filterQrCode { 
  display: inline-block;
  margin: 16pt;
}

div.searchFields {
  padding: 0.4em;
  align-items: center;
  display: inline-block
}

.drawerButton {
  min-width: 100;
}

div.drawer {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

div.drawerContent {
  justify-content: center;
  width: 320pt;
  display: block;
}

div.closeButton {
  clear: left;
  display: block;
  margin: 1em;
  align-self: center;
}

div.selectionFilterItem, div.settingItem {
  display: block;
  align-self: center;
}

div.filterInfo, div.pinSelectionFilter, div.setSelection, div.settingFields, div.pinSelectionList {
  display: block;
  padding: 0.4em;
}

div.lanyardName {
  padding: 1ch;
  height: 3ch;
  text-align: center;
  display: block;
  border: 2mm solid #000;
  font-weight: bold;
  font-size: 1.2rem;
}

div.pinListContent {
  margin: 0;
}
